version: '3.8'
services:
  db:
    image: postgres:15
    container_name: sentinel_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      TZ: UTC
      PGTZ: UTC
    ports:
      - "5434:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data